/*GLOBAL STYLE*/
body,
html {

    font-family: 'Nunito', sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
    position: relative;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.button {
    background-color: #acc6aa;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-family: 'Cookie', cursive;
    font-size: 3em;

}

h2 {
    font-size: 4em;
    margin-bottom: 0px;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.social-icons>ul>li {
    float: left;
}

li {
    display: block;
    padding: 10px;
}

li>a {
    color: black;
    font-size: 30px;
    text-decoration: none;

}
.menu ul>li>a{
    color: white!important;
}
.menu ul {
    padding:none;
}
.navbar>a:hover {
    border-bottom: 5px solid #acc6aa;
}

.active {
    border-bottom: 5px solid #acc6aa;
}

a.focus:link,
a.focus:visited {
    border-bottom: 5px solid #acc6aa
}

.hidden {
    visibility: hidden;
}

/*welcome splashe page*/
.welcome {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    background-color: white;
    background-image: url("images/splash-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: #005542;
    flex-direction: column;
}

.popUp {
    z-index: 2;
    height: 100vh;
    width: 50vw;
    background-color: green;
    opacity: 0;
    position: relative;

}

.sub-heading {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    opacity: 0;
}

.loader-wrapper {
    height: 2px;
    width: 150px;
    background-color: white;
    border-radius: 100px;
    opacity: 0;

}

.loader {
    height: 2px;
    widows: 150px;
    background-color: #005542;
    border-radius: 100px;
}



/*main page,column styles*/
main {
    height: 100%;
    overflow: scroll;
}

#main {
    transition: margin-right .5s;
    height: 100%;
    overflow: scroll;
}

.heading {
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    margin-bottom: 0px;
    opacity: 0;
}

#home {
    padding: 35px;
}

#portfolio {
    padding: 35px
}

#contact {
    padding: 35px;
}

/* .left-side {
    position: fixed;
} */

.left-image {
    position: sticky;
    top: 0;
    height: 100vh;
    background-image: url("images/left-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.right-side {
    overflow-y: scroll;
}

.right-side-Image {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.header-image {
    border-radius: 50%;
    margin-top: 10%;
    width: 100%;
}

.intro-header {
    text-align: center;
}

.navbar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #acc6aa;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 35px;
    /* position: absolute;
    display: block; */
    font-family: 'Cookie', cursive;
    float: right;
    right: 0;
}

.sideNavWidth {
    width: 100%;
}

.cancel {
    position: absolute;
    padding: 15px;
    top: 0;
    right: 0;
}

.menuIcon {
    width: 5%;
    float: RIGHT;

    margin-top: 5%;
    margin-right: 5%;

}

ul>li {
    z-index: 9999;
}

.menu {
text-align: center;
}
/*icon css*/
.social-icons {

    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    overflow: hidden;
}

.social-icons>li {
    border-bottom: none;
}

.icon {
    opacity: 0;
}

.fab {
    color: #acc6aa;
    font-size: 35px;
}

.fas {
    color: #acc6aa;
    font-size: 35px;
}


/*card css*/

.card {
    position: relative;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow: hidden;
    text-align: center;
    transition: right .2s linear,
        bottom .2s linear,
        top .2s linear,
        left .2s linear,
        line-height .2s linear,
        z-index .2s linear;
}


.green-hover {
    transition: all 0.25s ease-in;
    border-bottom: 5px solid transparent;
}

.green-hover:hover {
    transform: translateY(-5px);
    border: none;
    border-bottom: 5px solid #acc6aa;
}
.checkOutButton{
    min-height: 40px;
}
/*Contact Form Css*/
.form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contact {
    position: relative;
    margin: auto;
    margin-left: auto;
    width: 50%
}

form {
    width: 50%;
    margin: auto;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #005542;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon2 {
    width: 200px;
    height: 400px;
    margin: -80px 0 0 20px;
    }
    .hexagon-in1 {
        overflow: hidden;
        width: 100%;
        height: 100%;
        -webkit-transform: rotate(-60deg);
           -moz-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
             -o-transform: rotate(-60deg);
                transform: rotate(-60deg);
        }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image:url('./devops-presentations/change-approval.PNG');
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }